$font-stack: Arial, Helvetica, sans-serif;
$flex-display: flex;
$background-hex: #283D55;
$bacgkround-rgba: rgb(40, 61, 85);
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

%center-display {
  display: $flex-display;
  justify-content: center;
  align-items: center;
}

%button {
  @extend %center-display;
  color: white;
  background-color: $background-hex;
  box-shadow: $box-shadow;
  border: none;
  border-radius: .15rem;
}

%button-translate {
  transform: translateY(2px);
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
}

%four-box {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

body {
  font-family: $font-stack;
  margin: unset;
  background: linear-gradient(180deg, ivory, transparent);
}

.container {
  display: $flex-display;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(40, 61, 85);
}

#header {
  display: $flex-display;
  align-items: center;
  height: 10rem;
  width: 100%;
  background: linear-gradient(45deg, rgba(3, 75, 155, 1), white);
}

#search-container {
  position: relative;
  margin-right: 1.5rem;
  top: -2.5rem;
  left: .5rem;
}

#search-container-input {
  display: $flex-display;
}

#search-container input {
  height: 1.8rem;
  width: 13rem;
  margin-top: .25rem;
  border: none;
  border-radius: .25rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

#search-container input:focus {
  outline: none;
}

#search-container button {
  margin-left: 0.25rem;
  width: 3rem;
  @extend %button;
}

button:active {
  @extend %button-translate;
}

button:focus,
#multi-city div:focus {
  outline: none;
}

#multi-city {
  @extend %center-display;
  overflow-x: auto;
}

#multi-city div{
  width: 8rem;
  color: $background-hex;
}

#multi-city div:hover {
  cursor: pointer;
}



#current-weather {
  display: grid;
  grid-template-columns: 25% 25% 75%;
  align-items: center;
  height: 12rem;
}

#weather-main {
  color: white;
  padding: .5rem 1rem;
}

#main-temp {
  font-size: 9rem;
  text-align: center;
}

#main-grid {
  @extend %four-box;
  width: 30rem;
  height: 100%;
  line-height: 2.1rem;
  font-size: 1.5rem;
}



#high-today div,
#feels-like div,
#low-today div,
#humidity div{
  font-weight: bold;
}

#forecast {
  position: relative;
  top: 10%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  column-gap: 1rem;
  justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.forecast-block {
  display: grid;
  grid-template-rows: 2rem 2.5rem 4rem 2.5rem 6rem;
  color: $background-hex;
  border-radius: .25rem;
  background-color: rgba(255, 255, 255, .75);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.forecast-date,
.forecast-high,
.forecast-icon,
.forecast-low {
  @extend %center-display;
}

.forecast-extras {
  @extend %four-box;
  word-wrap: break-word;
}

.forecast-sunrise,
.forecast-sunset {
  padding-left: .25rem;
}