#search-container button, #multi-city, .forecast-date,
.forecast-high,
.forecast-icon,
.forecast-low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#search-container button {
  color: white;
  background-color: #283D55;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: .15rem;
}

button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
}

#main-grid, .forecast-extras {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: unset;
  background: -webkit-gradient(linear, left top, left bottom, from(ivory), to(transparent));
  background: linear-gradient(180deg, ivory, transparent);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70vw;
  height: 100vh;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #283d55;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  width: 100%;
  background: linear-gradient(45deg, #034b9b, white);
}

#search-container {
  position: relative;
  margin-right: 1.5rem;
  top: -2.5rem;
  left: .5rem;
}

#search-container-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-container input {
  height: 1.8rem;
  width: 13rem;
  margin-top: .25rem;
  border: none;
  border-radius: .25rem;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

#search-container input:focus {
  outline: none;
}

#search-container button {
  margin-left: 0.25rem;
  width: 3rem;
}

button:focus,
#multi-city div:focus {
  outline: none;
}

#multi-city {
  overflow-x: auto;
}

#multi-city div {
  width: 8rem;
  color: #283D55;
}

#multi-city div:hover {
  cursor: pointer;
}

#current-weather {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 75%;
      grid-template-columns: 25% 25% 75%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12rem;
}

#weather-main {
  color: white;
  padding: .5rem 1rem;
}

#main-temp {
  font-size: 9rem;
  text-align: center;
}

#main-grid {
  width: 30rem;
  height: 100%;
  line-height: 2.1rem;
  font-size: 1.5rem;
}

#high-today div,
#feels-like div,
#low-today div,
#humidity div {
  font-weight: bold;
}

#forecast {
  position: relative;
  top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 20% 20% 20% 20%;
      grid-template-columns: 20% 20% 20% 20% 20%;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.forecast-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2rem 2.5rem 4rem 2.5rem 6rem;
      grid-template-rows: 2rem 2.5rem 4rem 2.5rem 6rem;
  color: #283D55;
  border-radius: .25rem;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.forecast-extras {
  word-wrap: break-word;
}

.forecast-sunrise,
.forecast-sunset {
  padding-left: .25rem;
}
/*# sourceMappingURL=styles.css.map */